<post
   title="An original programming pattern in Mezzo"
   date="2014/03/11"
   published="true"
   author="Jonathan Protzenko"
   topics="mezzo"
   keywords="ownership,one-shot function,ghost function"

   disqus-id="mezzo-control-flow-inversion"
   rss-id="http://gallium.inria.fr/blog/mezzo-control-flow-inversion"
>

<p>Lately, it seems all I've been doing is writing. There's been that
paper about the implementation of Mezzo, which I'm supposed to push
out at some point. There's that ICFP submission (blog post pending)
which we've been writing with some other cool kids from the
lab. That's not counting the various presentations, research
statements, and other misc. documents that I've been busy with...</p>

<p>Last week, I was (again!) writing, this time working on my part for
a journal version of our ICFP paper, and I was trying to write a small
tutorial with longer examples and a better introduction to
Mezzo. After explaining tail-recursive concatenation for the n-th
time, I decided to try out explaining a new example. Here's the
result.</p>

<p>The example is about an interesting programming pattern in Mezzo,
which I dub &quot;control-flow inversion&quot;. The idea is not new:
we've been using
it <a href="http://gallium.inria.fr/blog/typestate-in-mezzo-mutable-list-iterators/">for
iterators</a>, but is was somehow buried under the details of how
iterators work. The present blog post tries to present it in a more
self-contained way. It somehow showcases both the strengths and
weaknesses of Mezzo as it stands right now. Hopefully we'll improve
the shortcomings soon.</p>

<sep_/>

<div>
<style type="text/css">
  <include file="./pygments.css" raw="true" />
</style>
<include file="./mezzo-control-flow-inversion.raw.html" />
</div>
</post>
