<post
   title="Reconstructing the Knuth-Morris-Pratt algorithm"
   date="2013/12/21"
   published="true"
   author="François Pottier"
   topics="kmp"
   keywords="algorithms,teaching"

   disqus-id="kmp"
   rss-id="http://gallium.inria.fr/blog/kmp"
>

<!--HEVEA command line is: hevea kmp.tex -->
<!--CUT STYLE article--><!--CUT DEF section 1 -->

<p>In my view,
the <a href="http://en.wikipedia.org/wiki/Knuth-Morris-Pratt_algorithm">Knuth-Morris-Pratt
string searching algorithm</a> is one of those “magic” algorithms that
do something wonderful but are difficult to explain or understand in
detail without a significant time investment. The pedagogical question
that I would like to address is not just: “how does it work?”, or “why
does it work?”, or “does it work?”. More importantly, it is: “how did
they come up with it?”. Of course, I wasn’t there, and I am no
historian, so let me instead address the somewhat related question:
“how do I reconstruct it?”.</p>

<sep_/>

<p>Of course one can prove that the algorithm works; this can be done with
pen-and-paper or with <a href="http://toccata.lri.fr/gallery/kmp.en.html">a
machine-checked proof</a>. This is very useful, but does not answer my
question.</p><p>I know of several ways of explaining and reconstructing the algorithm.
In one of them, one views the pattern as a non-deterministic finite-state
automaton; by eliminating the є-transitions, one obtains a
deterministic automaton, whose transitions form the “failure function”.
In the second approach, which is the one I would like to describe here, one
begins with a naïve implementation of string searching, and by a series of
program transformations, one derives an efficient algorithm, namely the
Knuth-Morris-Pratt algorithm.</p><p>I found this idea in
<a href="http://www.brics.dk/RS/02/32/BRICS-RS-02-32.pdf">Ager, Danvy, and
Rohde’s paper</a>, where it is somewhat buried in Appendix A. I rephrase it
here in a slightly different way.</p><!--TOC subsection id=sec1 The naïve algorithm-->
<h3 id="sec1" class="subsection">The naïve algorithm</h3><!--SEC END --><p>Let us begin with a supposedly idiomatic Java implementation of naïve string
searching. We are looking for an occurrence of a string, known as the
“pattern”, within another string, known as the “text”. Throughout, I write
<span style="font-style:italic">m</span> for the length of the pattern and <span style="font-style:italic">n</span> for the length of the text.</p><div class="lstlisting"><span style="font-size:small"><span style="font-weight:bold">public</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">static</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">int</span></span><span style="font-size:small"> </span><span style="font-size:small">search00</span><span style="font-size:small"> (</span><span style="font-size:small">String</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small">, </span><span style="font-size:small">String</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small">)</span><span style="font-size:small">
</span><span style="font-size:small">{</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">final</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">int</span></span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> = </span><span style="font-size:small">pattern</span><span style="font-size:small">.</span><span style="font-size:small">length</span><span style="font-size:small">();</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">final</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">int</span></span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> = </span><span style="font-size:small">text</span><span style="font-size:small">.</span><span style="font-size:small">length</span><span style="font-size:small">();</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small">loop</span><span style="font-size:small">: </span><span style="font-size:small"><span style="font-weight:bold">for</span></span><span style="font-size:small"> (</span><span style="font-size:small"><span style="font-weight:bold">int</span></span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> = 0; </span><span style="font-size:small">k</span><span style="font-size:small"> + </span><span style="font-size:small">m</span><span style="font-size:small"> &lt;= </span><span style="font-size:small">n</span><span style="font-size:small">; </span><span style="font-size:small">k</span><span style="font-size:small">++) {</span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">for</span></span><span style="font-size:small"> (</span><span style="font-size:small"><span style="font-weight:bold">int</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = 0; </span><span style="font-size:small">j</span><span style="font-size:small"> &lt; </span><span style="font-size:small">m</span><span style="font-size:small">; </span><span style="font-size:small">j</span><span style="font-size:small">++)</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> (</span><span style="font-size:small">pattern</span><span style="font-size:small">.</span><span style="font-size:small">charAt</span><span style="font-size:small">(</span><span style="font-size:small">j</span><span style="font-size:small">) != </span><span style="font-size:small">text</span><span style="font-size:small">.</span><span style="font-size:small">charAt</span><span style="font-size:small">(</span><span style="font-size:small">k</span><span style="font-size:small"> + </span><span style="font-size:small">j</span><span style="font-size:small">))</span><span style="font-size:small">
</span><span style="font-size:small">        </span><span style="font-size:small"><span style="font-weight:bold">continue</span></span><span style="font-size:small"> </span><span style="font-size:small">loop</span><span style="font-size:small">;</span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">return</span></span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small">;</span><span style="font-size:small">
</span><span style="font-size:small">  }</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">return</span></span><span style="font-size:small"> -1;</span><span style="font-size:small">
</span><span style="font-size:small">}</span></div><p>The code returns the index in the text of the leftmost occurrence of the
pattern, if one exists, and −1 otherwise.
In the worst case, its time complexity is <span style="font-style:italic">O</span>(<span style="font-style:italic">mn</span>), that is, quadratic.
</p><p>Let us first write this algorithm in the form of a single infinite loop. This
makes the control flow much simpler, and means that the current state of
the algorithm is now entirely encoded in the variables <span style="font-style:italic">j</span> and <span style="font-style:italic">k</span>. (With
respect to the previous code, the meaning of <span style="font-style:italic">k</span> has changed. Now, <span style="font-style:italic">j</span> is an
index into the pattern, while <span style="font-style:italic">k</span> is an index into the text.)</p><div class="lstlisting"><span style="font-size:small"><span style="font-weight:bold">public</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">static</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">int</span></span><span style="font-size:small"> </span><span style="font-size:small">search01</span><span style="font-size:small"> (</span><span style="font-size:small">String</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small">, </span><span style="font-size:small">String</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small">)</span><span style="font-size:small">
</span><span style="font-size:small">{</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">final</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">int</span></span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> = </span><span style="font-size:small">pattern</span><span style="font-size:small">.</span><span style="font-size:small">length</span><span style="font-size:small">();</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">final</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">int</span></span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> = </span><span style="font-size:small">text</span><span style="font-size:small">.</span><span style="font-size:small">length</span><span style="font-size:small">();</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">int</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = 0, </span><span style="font-size:small">k</span><span style="font-size:small"> = 0;</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">while</span></span><span style="font-size:small"> (</span><span style="font-size:small"><span style="font-weight:bold">true</span></span><span style="font-size:small">) {</span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> (</span><span style="font-size:small">j</span><span style="font-size:small"> == </span><span style="font-size:small">m</span><span style="font-size:small">)</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small"><em><span style="font-size:small">// End of the pattern reached: success.</span></em></span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small"><span style="font-weight:bold">return</span></span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small">;</span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> (</span><span style="font-size:small">k</span><span style="font-size:small"> == </span><span style="font-size:small">n</span><span style="font-size:small">)</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small"><em><span style="font-size:small">// End of the text reached: failure.</span></em></span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small"><span style="font-weight:bold">return</span></span><span style="font-size:small"> -1;</span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> (</span><span style="font-size:small">pattern</span><span style="font-size:small">.</span><span style="font-size:small">charAt</span><span style="font-size:small">(</span><span style="font-size:small">j</span><span style="font-size:small">) == </span><span style="font-size:small">text</span><span style="font-size:small">.</span><span style="font-size:small">charAt</span><span style="font-size:small">(</span><span style="font-size:small">k</span><span style="font-size:small">)) {</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small"><em><span style="font-size:small">// Character match. Advance both indices by one.</span></em></span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small">k</span><span style="font-size:small">++;</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small">j</span><span style="font-size:small">++;</span><span style="font-size:small">
</span><span style="font-size:small">    }</span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> {</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small"><em><span style="font-size:small">// Character mismatch. Backtrack.</span></em></span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small">k</span><span style="font-size:small"> = </span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small"> + 1;</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small">j</span><span style="font-size:small"> = 0;</span><span style="font-size:small">
</span><span style="font-size:small">    }</span><span style="font-size:small">
</span><span style="font-size:small">  }</span><span style="font-size:small">
</span><span style="font-size:small">}</span></div><p>The source of inefficiency is the last case, where we backtrack and (if <span style="font-style:italic">j</span> is
greater than zero) the index <span style="font-style:italic">k</span> does not increase. This leads the algorithm to
read again a part of the text that it has already read.</p><!--TOC subsection id=sec2 A pure formulation-->
<h3 id="sec2" class="subsection">A pure formulation</h3><!--SEC END --><p>Before attempting any algorithmic change, let us transform the code to a
purely functional form, which is both more general and easier to reason
about. We switch to OCaml, and instead of a loop, we write a tail-recursive
function.</p><div class="lstlisting"><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">rec</span></span><span style="font-size:small"> </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> =</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Found</span><span style="font-size:small"> (</span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small">)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> = </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Interrupted</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small">.[</span><span style="font-size:small">j</span><span style="font-size:small">] = </span><span style="font-size:small">text</span><span style="font-size:small">.[</span><span style="font-size:small">k</span><span style="font-size:small">] </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> (</span><span style="font-size:small">j</span><span style="font-size:small"> + 1) (</span><span style="font-size:small">k</span><span style="font-size:small"> + 1)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> 0 (</span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small"> + 1)</span></div><p>This is a function of six parameters, but the first four are invariant, so it
costs nothing to carry them around – they are just stored in registers. The
code produced by the OCaml compiler is about as tight as one might hope (try
<span style="font-family:monospace"><span style="font-size:small">ocamlopt -unsafe -S</span></span> and look at the assembly file).</p><p>I have taken this opportunity to enrich the result type of the <span style="font-family:monospace"><span style="font-size:small">search</span></span>
function. When the search fails, by reaching the end of the text, instead of
returning just −1, it returns the current value of <span style="font-style:italic">j</span>. In other words, it
returns the state of the algorithm at that point.</p><p>For the sake of completeness, let me show the definition of the type
<span style="font-family:monospace"><span style="font-size:small">result</span></span>, as well as a destructor that extracts <span style="font-family:monospace"><span style="font-size:small">j</span></span>
out of a result when we know that this result is <span style="font-family:monospace"><span style="font-size:small">Interrupted _</span></span>.
This destructor will be useful later on.</p><div class="lstlisting"><span style="font-size:small"><span style="font-weight:bold">type</span></span><span style="font-size:small"> </span><span style="font-size:small">result</span><span style="font-size:small"> =</span><span style="font-size:small">
</span><span style="font-size:small">  | </span><span style="font-size:small">Found</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">of</span></span><span style="font-size:small"> </span><span style="font-size:small">int</span><span style="font-size:small">       </span><span style="font-size:small"><em><span style="font-size:small">(* the offset k where a match lies *)</span></em></span><span style="font-size:small">
</span><span style="font-size:small">  | </span><span style="font-size:small">Interrupted</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">of</span></span><span style="font-size:small"> </span><span style="font-size:small">int</span><span style="font-size:small"> </span><span style="font-size:small"><em><span style="font-size:small">(* the state j that was reached *)</span></em></span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small">assertInterrupted</span><span style="font-size:small"> = </span><span style="font-size:small"><span style="font-weight:bold">function</span></span><span style="font-size:small">
</span><span style="font-size:small">  | </span><span style="font-size:small">Found</span><span style="font-size:small"> </span><span style="font-size:small">_</span><span style="font-size:small">       -&gt; </span><span style="font-size:small"><span style="font-weight:bold">assert</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">false</span></span><span style="font-size:small">
</span><span style="font-size:small">  | </span><span style="font-size:small">Interrupted</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> -&gt; </span><span style="font-size:small">j</span></div><p>In this form, the code looks almost identical to the previous version, which
was written in Java. It is, however, much more powerful. Thanks to the extra
parameters that it exposes
and thanks to the extra information that it returns, the
algorithm is now interruptible and resumable. In other words, a search within
a long text can be split up as a sequential composition of two searches. If
the index <span style="font-style:italic">l</span> lies between <span style="font-style:italic">k</span> and <span style="font-style:italic">n</span> (that is, <span style="font-style:italic">k</span> ≤ <span style="font-style:italic">l</span> ≤ <span style="font-style:italic">n</span>), then the
call:
</p><div class="lstlisting"><span style="font-size:small">  </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> </span><span style="font-size:small">k</span></div><p>is equivalent to the sequence:
</p><div class="lstlisting"><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small">result</span><span style="font-size:small"> = </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">l</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">in</span></span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">match</span></span><span style="font-size:small"> </span><span style="font-size:small">result</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">with</span></span><span style="font-size:small">
</span><span style="font-size:small">  | </span><span style="font-size:small">Found</span><span style="font-size:small"> </span><span style="font-size:small">_</span><span style="font-size:small"> -&gt;</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small">result</span><span style="font-size:small">
</span><span style="font-size:small">  | </span><span style="font-size:small">Interrupted</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">' -&gt;</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">' </span><span style="font-size:small">l</span></div><p>The first call searches the text interval [<span style="font-style:italic">k</span>, <span style="font-style:italic">l</span>), while the second
call searches the interval [<span style="font-style:italic">l</span>, <span style="font-style:italic">n</span>), beginning in the state <span style="font-style:italic">j</span>′ that
was reached by the first call.</p><!--TOC subsection id=sec3 Identifying and exposing the redundant work-->
<h3 id="sec3" class="subsection">Identifying and exposing the redundant work</h3><!--SEC END --><p>It is now time to do something about the inefficiency of this algorithm.
Recall that the root of the problem is the backtracking that takes place in
the last case when <span style="font-style:italic">j</span> is greater than zero. It is stupid to go back (or stay
where we are) in the text, because we already know what characters are
there. We have just read these characters and successfully compared them with
a prefix of the pattern!</p><p>To clarify what I mean, and to allow my claim to be tested, let me enrich the
code with extra assertions that document our knowledge. (The function <span style="font-family:monospace"><span style="font-size:small">sub</span></span>
is <span style="font-family:monospace"><span style="font-size:small">String.sub</span></span>; it extracts a substring out of a string.) In technical
lingo, these assertions form a precondition of the function <span style="font-family:monospace"><span style="font-size:small">loop</span></span>; in the
second Java version above, they would form an invariant of the <span style="font-family:monospace"><span style="font-size:small">while</span></span>
loop.</p><div class="lstlisting"><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">rec</span></span><span style="font-size:small"> </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> =</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">assert</span></span><span style="font-size:small"> (0 &lt;= </span><span style="font-size:small">j</span><span style="font-size:small"> &amp;&amp; </span><span style="font-size:small">j</span><span style="font-size:small"> &lt;= </span><span style="font-size:small">m</span><span style="font-size:small">);</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">assert</span></span><span style="font-size:small"> (j &lt;= </span><span style="font-size:small">k</span><span style="font-size:small"> &amp;&amp; </span><span style="font-size:small">k</span><span style="font-size:small"> &lt;= </span><span style="font-size:small">n</span><span style="font-size:small">);</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">assert</span></span><span style="font-size:small"> (</span><span style="font-size:small">sub</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> 0 </span><span style="font-size:small">j</span><span style="font-size:small"> = </span><span style="font-size:small">sub</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> (</span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small">) </span><span style="font-size:small">j</span><span style="font-size:small">);</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Found</span><span style="font-size:small"> (</span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small">)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> = </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Interrupted</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small">.[</span><span style="font-size:small">j</span><span style="font-size:small">] = </span><span style="font-size:small">text</span><span style="font-size:small">.[</span><span style="font-size:small">k</span><span style="font-size:small">] </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> (</span><span style="font-size:small">j</span><span style="font-size:small"> + 1) (</span><span style="font-size:small">k</span><span style="font-size:small"> + 1)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> 0 (</span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small"> + 1)</span></div><p>The last recursive call is performing partly redundant work, because we
already know what characters are found in the text interval [<span style="font-style:italic">k</span> − <span style="font-style:italic">j</span>, <span style="font-style:italic">k</span>).
Fortunately, we are now in a position to do something about it. Instead of
searching the interval [<span style="font-style:italic">k</span> − <span style="font-style:italic">j</span> + 1, <span style="font-style:italic">n</span>) in one go, let us split this search
into the two intervals [<span style="font-style:italic">k</span> − <span style="font-style:italic">j</span> + 1, <span style="font-style:italic">k</span>) and [<span style="font-style:italic">k</span>, <span style="font-style:italic">n</span>). We will then be able
to identify the first search as entirely redundant.</p><p>We set apart the sub-case where <span style="font-style:italic">j</span> is zero, as it does not pose a problem.
Thus, the code becomes (assertions now removed, for brevity):
</p><div class="lstlisting"><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">rec</span></span><span style="font-size:small"> </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> =</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Found</span><span style="font-size:small"> (</span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small">)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> = </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Interrupted</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small">.[</span><span style="font-size:small">j</span><span style="font-size:small">] = </span><span style="font-size:small">text</span><span style="font-size:small">.[</span><span style="font-size:small">k</span><span style="font-size:small">] </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> (</span><span style="font-size:small">j</span><span style="font-size:small"> + 1) (</span><span style="font-size:small">k</span><span style="font-size:small"> + 1)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = 0 </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> 0 (</span><span style="font-size:small">k</span><span style="font-size:small"> + 1)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small">result</span><span style="font-size:small"> = </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> 0 (</span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small"> + 1) </span><span style="font-size:small"><span style="font-weight:bold">in</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">match</span></span><span style="font-size:small"> </span><span style="font-size:small">result</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">with</span></span><span style="font-size:small">
</span><span style="font-size:small">    | </span><span style="font-size:small">Found</span><span style="font-size:small"> </span><span style="font-size:small">_</span><span style="font-size:small"> -&gt;</span><span style="font-size:small">
</span><span style="font-size:small">        </span><span style="font-size:small">result</span><span style="font-size:small">
</span><span style="font-size:small">    | </span><span style="font-size:small">Interrupted</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">' -&gt;</span><span style="font-size:small">
</span><span style="font-size:small">        </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">' </span><span style="font-size:small">k</span></div><p>We can immediately simplify this code a little bit. Indeed, the call
<span style="font-family:monospace"><span style="font-size:small">search pattern m text k 0 (k - j + 1)</span></span> searches for the entire
pattern, which has length <span style="font-style:italic">m</span>, in a text interval of length <span style="font-style:italic">j</span> − 1, where <span style="font-style:italic">j</span>
&lt; <span style="font-style:italic">m</span>, so it cannot possibly succeed. Thus, the first branch of the last
<span style="font-family:monospace"><span style="font-size:small">match</span></span> construct is dead, and the whole construct can be replaced
with a more concise call to <span style="font-family:monospace"><span style="font-size:small">assertInterrupted</span></span>:</p><div class="lstlisting"><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">rec</span></span><span style="font-size:small"> </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> =</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Found</span><span style="font-size:small"> (</span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small">)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> = </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Interrupted</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small">.[</span><span style="font-size:small">j</span><span style="font-size:small">] = </span><span style="font-size:small">text</span><span style="font-size:small">.[</span><span style="font-size:small">k</span><span style="font-size:small">] </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> (</span><span style="font-size:small">j</span><span style="font-size:small"> + 1) (</span><span style="font-size:small">k</span><span style="font-size:small"> + 1)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = 0 </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> 0 (</span><span style="font-size:small">k</span><span style="font-size:small"> + 1)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">' = </span><span style="font-size:small">assertInterrupted</span><span style="font-size:small"> (</span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> 0 (</span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small"> + 1)) </span><span style="font-size:small"><span style="font-weight:bold">in</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">' </span><span style="font-size:small">k</span></div><p>We now take a more essential step. As previously noted, the sub-strings
<span style="font-family:monospace"><span style="font-size:small">sub pattern 0 j</span></span> and <span style="font-family:monospace"><span style="font-size:small">sub text (k - j) j</span></span> are equal. Thus, the call
<span style="font-family:monospace"><span style="font-size:small">search pattern m text k 0 (k - j + 1)</span></span> searches for the pattern within (a
prefix of a suffix of) the pattern itself. As a result, this call can be
rewritten to mention the pattern, instead of the text! It is equivalent to the
call <span style="font-family:monospace"><span style="font-size:small">search pattern m pattern j 0 1</span></span>. We have replaced <span style="font-family:monospace"><span style="font-size:small">text</span></span> with
<span style="font-family:monospace"><span style="font-size:small">pattern</span></span>, and adjusted the indices into the text by subtracting <span style="font-style:italic">k</span> − <span style="font-style:italic">j</span>,
so that they are now indices into the pattern.
The code is now:</p><div class="lstlisting"><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">rec</span></span><span style="font-size:small"> </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> =</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Found</span><span style="font-size:small"> (</span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small">)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> = </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Interrupted</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small">.[</span><span style="font-size:small">j</span><span style="font-size:small">] = </span><span style="font-size:small">text</span><span style="font-size:small">.[</span><span style="font-size:small">k</span><span style="font-size:small">] </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> (</span><span style="font-size:small">j</span><span style="font-size:small"> + 1) (</span><span style="font-size:small">k</span><span style="font-size:small"> + 1)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = 0 </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> 0 (</span><span style="font-size:small">k</span><span style="font-size:small"> + 1)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">' = </span><span style="font-size:small">assertInterrupted</span><span style="font-size:small"> (</span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> 0 1) </span><span style="font-size:small"><span style="font-weight:bold">in</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">assert</span></span><span style="font-size:small"> (</span><span style="font-size:small">j</span><span style="font-size:small">' &lt; </span><span style="font-size:small">j</span><span style="font-size:small">);</span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">search</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">' </span><span style="font-size:small">k</span></div><p>The new assertion <span style="font-style:italic">j</span>′ &lt; <span style="font-style:italic">j</span> is justified as follows. We are searching in a text
fragment of length <span style="font-style:italic">j</span> − 1, and we begin in state 0, so, at best (if all
characters match), this search will reach the final state <span style="font-style:italic">j</span> − 1.</p><p>The code is now roughly analogous to Figure 8 (page 42) of
<a href="http://www.brics.dk/RS/02/32/BRICS-RS-02-32.pdf">Ager, Danvy, and
Rohde’s paper</a>. Our version is more compact, compared to theirs, as we have
avoided some code duplication, but the idea is the same.</p><p>It is worth noting that, at this point, our code is not tail-recursive, due to
the manner in which we perform two searches in sequence. This is not a
problem, however, as our very next step (as I am sure you, the reader, have
guessed) is to remove the call <span style="font-family:monospace"><span style="font-size:small">search pattern m pattern j 0 1</span></span>
entirely. Indeed, this value does not depend on the text in any way, so it can
be precomputed before the search begins.</p><!--TOC subsection id=sec4 The search phase-->
<h3 id="sec4" class="subsection">The search phase</h3><!--SEC END --><p>Let us <em>assume</em>, for the time being, that we have precomputed the value
of <span style="font-family:monospace"><span style="font-size:small">search pattern m pattern j 0 1</span></span>, for every <span style="font-style:italic">j</span> in the range 0 &lt;
<span style="font-style:italic">j</span> &lt; <span style="font-style:italic">m</span>, and stored this information in an array <span style="font-family:monospace"><span style="font-size:small">table</span></span>. (As noted
above, for every <span style="font-style:italic">j</span> in this range, we have the property that
<span style="font-family:monospace"><span style="font-size:small">table.(j)</span></span> is less than <span style="font-style:italic">j</span>.)
Then, the code can be simplified as follows:</p><div class="lstlisting"><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">rec</span></span><span style="font-size:small"> </span><span style="font-size:small">loop</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> =</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Found</span><span style="font-size:small"> (</span><span style="font-size:small">k</span><span style="font-size:small"> - </span><span style="font-size:small">j</span><span style="font-size:small">)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">k</span><span style="font-size:small"> = </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">Interrupted</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small">.[</span><span style="font-size:small">j</span><span style="font-size:small">] = </span><span style="font-size:small">text</span><span style="font-size:small">.[</span><span style="font-size:small">k</span><span style="font-size:small">] </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">loop</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small"> (</span><span style="font-size:small">j</span><span style="font-size:small"> + 1) (</span><span style="font-size:small">k</span><span style="font-size:small"> + 1)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = 0 </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">loop</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small"> 0 (</span><span style="font-size:small">k</span><span style="font-size:small"> + 1)</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">loop</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">text</span><span style="font-size:small"> </span><span style="font-size:small">n</span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small">.(</span><span style="font-size:small">j</span><span style="font-size:small">) </span><span style="font-size:small">k</span></div><p>Cool. The code is tail-recursive again. This is cool. This is way cool. Wait a
minute. Is this cool? A shadow of a doubt should cast itself in your mind.</p><p>Is this code efficient? We still seem to have a recursive call, on the last
line, where <span style="font-style:italic">k</span> is not incremented. Thus, it is not obvious that this code has
good time complexity. In fact, a rapid analysis indicates that, in the worst
case, <span style="font-family:monospace"><span style="font-size:small">table.(j)</span></span> could be <span style="font-style:italic">j</span> − 1, so, in the worst case, the algorithm
could stutter <span style="font-style:italic">m</span> times (minus one or two) before it finally increments
<span style="font-style:italic">k</span>. This leads to a worst-case upper bound of <span style="font-style:italic">O</span>(<span style="font-style:italic">mn</span>), no better than the
naïve algorithm.</p><p>Fortunately, this analysis is overly pessimistic. The variables <span style="font-style:italic">j</span> and <span style="font-style:italic">k</span>
are linked: whenever <span style="font-style:italic">j</span> is incremented, <span style="font-style:italic">k</span> is incremented too. Thus, the
worst-case scenario, where <span style="font-style:italic">j</span> has reached a high point and requires many
steps to go down, arises only if <span style="font-style:italic">k</span> has been incremented as many times as <span style="font-style:italic">j</span>
has been incremented. Thus, speaking in terms of amortization, the cost of
backtracking can be charged, ahead of time, to the steps where <span style="font-style:italic">k</span> was
incremented. Speaking in plain mathematics, it is not difficult to see that
the quantity 2<span style="font-style:italic">k</span> − <span style="font-style:italic">j</span> grows strictly at every recursive call.
Since this quantity is initially 0 and is bounded by 2<span style="font-style:italic">n</span>, we find that the
time complexity of the search phase is <span style="font-style:italic">O</span>(<span style="font-style:italic">n</span>).</p><p>The phenomenon that we have identified, and that gave rise to a doubt, is that
the algorithm is not real-time. In the worst case, it can take up to <span style="font-style:italic">O</span>(<span style="font-style:italic">m</span>)
steps to process one character of the text, even though, in an amortized sense
(i.e., averaged over the entire text), processing one character only requires
constant time.</p><!--TOC subsection id=sec5 The preprocessing phase-->
<h3 id="sec5" class="subsection">The preprocessing phase</h3><!--SEC END --><p>We now need to program the preprocessing phase, which initializes the array
<span style="font-family:monospace"><span style="font-size:small">table</span></span>. Recall that <span style="font-family:monospace"><span style="font-size:small">table.(j)</span></span> is supposed to contain
the integer value
<span style="font-family:monospace"><span style="font-size:small">assertInterrupted (search pattern m pattern j 0 1)</span></span>. How do we
efficiently compute this information?</p><p>Of course one could invoke the inefficient <span style="font-family:monospace"><span style="font-size:small">search</span></span> function at every
<span style="font-family:monospace"><span style="font-size:small">j</span></span>, and store the results. But this naïve approach would have time
complexity <span style="font-style:italic">O</span>(<span style="font-style:italic">m</span><sup>3</sup>), which is not great.
</p><p>In order to do better, we use two simple ideas.</p><p>First, it is quite obvious that the desired value at <span style="font-style:italic">j</span> can be computed in
terms of the desired value at <span style="font-style:italic">j</span> − 1, simply by exploiting (again) the fact
that a search can be split into two consecutive sub-searches. The base case,
<span style="font-style:italic">j</span> = 1, corresponds to searching an empty interval; the desired value is
then the initial state 0.</p><p>Second, instead of calling the inefficient <span style="font-family:monospace"><span style="font-size:small">search</span></span> function, let us use
the efficient <span style="font-family:monospace"><span style="font-size:small">loop</span></span> function. Granted, <span style="font-family:monospace"><span style="font-size:small">loop</span></span> reads the array
<span style="font-family:monospace"><span style="font-size:small">table</span></span>, which we have not fully initialized yet, but a moment’s thought
reveals that this is safe: the array will be read only at indices that have
been computed already. (The proof is not difficult; let me skip it.)
The code is as follows:</p><div class="lstlisting"><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small">init</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> =</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small"> = </span><span style="font-size:small">Array</span><span style="font-size:small">.</span><span style="font-size:small">create</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> 0 </span><span style="font-size:small"><span style="font-weight:bold">in</span></span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">for</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = 2 </span><span style="font-size:small"><span style="font-weight:bold">to</span></span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> - 1 </span><span style="font-size:small"><span style="font-weight:bold">do</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">table</span><span style="font-size:small">.(</span><span style="font-size:small">j</span><span style="font-size:small">) &lt;- </span><span style="font-size:small">assertInterrupted</span><span style="font-size:small"> (</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small">loop</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small">.(</span><span style="font-size:small">j</span><span style="font-size:small"> - 1) (</span><span style="font-size:small">j</span><span style="font-size:small"> - 1)</span><span style="font-size:small">
</span><span style="font-size:small">    )</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">done</span></span><span style="font-size:small">;</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small">table</span></div><p>This is a beautiful bootstrapping process: the same code, <span style="font-family:monospace"><span style="font-size:small">loop</span></span>, is used
in the preprocessing phase and in the search phase. We did not even
consciously plan ahead for that, but the function was sufficiently general to
begin with that it did not need to be modified. Thus, we re-use the code. We
can re-use also its complexity argument, and assert that <span style="font-family:monospace"><span style="font-size:small">init</span></span> has time
complexity <span style="font-style:italic">O</span>(<span style="font-style:italic">m</span>).</p><!--TOC subsection id=sec6 Packing it all up-->
<h3 id="sec6" class="subsection">Packing it all up</h3><!--SEC END --><p>I leave it as an exercise for the reader to put everything together and
produce an implementation that satisfies the following signature:
</p><div class="lstlisting"><span style="font-size:small"><em><span style="font-size:small">(* An abstract type of compiled patterns. *)</span></em></span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><span style="font-weight:bold">type</span></span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><em><span style="font-size:small">(* An abstract type of states. *)</span></em></span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><span style="font-weight:bold">type</span></span><span style="font-size:small"> </span><span style="font-size:small">state</span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><em><span style="font-size:small">(* The initial state is used to begin a search. *)</span></em></span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><span style="font-weight:bold">val</span></span><span style="font-size:small"> </span><span style="font-size:small">initial</span><span style="font-size:small"> : </span><span style="font-size:small">state</span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><em><span style="font-size:small">(* A search result is either an offset in the text where the pattern</span><span style="font-size:small">
</span><span style="font-size:small">   was found, or a state, which means that the end of the text was</span><span style="font-size:small">
</span><span style="font-size:small">   reached in that state. *)</span></em></span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><span style="font-weight:bold">type</span></span><span style="font-size:small"> </span><span style="font-size:small">result</span><span style="font-size:small"> =</span><span style="font-size:small">
</span><span style="font-size:small">| </span><span style="font-size:small">Found</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">of</span></span><span style="font-size:small"> </span><span style="font-size:small">int</span><span style="font-size:small">
</span><span style="font-size:small">| </span><span style="font-size:small">Interrupted</span><span style="font-size:small"> </span><span style="font-size:small"><span style="font-weight:bold">of</span></span><span style="font-size:small"> </span><span style="font-size:small">state</span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><em><span style="font-size:small">(* [compile p] turns the pattern [p], represented as a string, into</span><span style="font-size:small">
</span><span style="font-size:small">   a compiled pattern. Its time complexity is linear in the size of</span><span style="font-size:small">
</span><span style="font-size:small">   the pattern. *)</span></em></span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><span style="font-weight:bold">val</span></span><span style="font-size:small"> </span><span style="font-size:small">compile</span><span style="font-size:small">: </span><span style="font-size:small">string</span><span style="font-size:small"> -&gt; </span><span style="font-size:small">pattern</span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><em><span style="font-size:small">(* [find p s text k n] searches for the compiled pattern [p] in the</span><span style="font-size:small">
</span><span style="font-size:small">   string [text], between the offsets [k] included and [n] excluded. Its</span><span style="font-size:small">
</span><span style="font-size:small">   time complexity is linear with respect to [n - k].  A search normally</span><span style="font-size:small">
</span><span style="font-size:small">   begins in the [initial] state, but a state [s] returned by a previous</span><span style="font-size:small">
</span><span style="font-size:small">   search can also be used, if desired; this feature allows interrupting</span><span style="font-size:small">
</span><span style="font-size:small">   and resuming a search. *)</span></em></span><span style="font-size:small">
</span><span style="font-size:small">
</span><span style="font-size:small"><span style="font-weight:bold">val</span></span><span style="font-size:small"> </span><span style="font-size:small">find</span><span style="font-size:small">: </span><span style="font-size:small">pattern</span><span style="font-size:small"> -&gt; </span><span style="font-size:small">state</span><span style="font-size:small"> -&gt; </span><span style="font-size:small">string</span><span style="font-size:small"> -&gt; </span><span style="font-size:small">int</span><span style="font-size:small"> -&gt; </span><span style="font-size:small">int</span><span style="font-size:small"> -&gt; </span><span style="font-size:small">result</span></div><p>I should note that the algorithm that we have obtained is not quite the
Knuth-Morris-Pratt algorithm. The latter includes one extra optimization,
which I have not attempted to incorporate here. This optimization builds
shortcuts in the failure table, and is implemented by modifying one line
in the preprocessing phase, as follows:</p><div class="lstlisting"><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small">init</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> =</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small"> = </span><span style="font-size:small">Array</span><span style="font-size:small">.</span><span style="font-size:small">create</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> 0 </span><span style="font-size:small"><span style="font-weight:bold">in</span></span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">for</span></span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> = 2 </span><span style="font-size:small"><span style="font-weight:bold">to</span></span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> - 1 </span><span style="font-size:small"><span style="font-weight:bold">do</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small"><span style="font-weight:bold">let</span></span><span style="font-size:small"> </span><span style="font-size:small">s</span><span style="font-size:small"> = </span><span style="font-size:small">assertInterrupted</span><span style="font-size:small"> (</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small">loop</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">m</span><span style="font-size:small"> </span><span style="font-size:small">pattern</span><span style="font-size:small"> </span><span style="font-size:small">j</span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small">.(</span><span style="font-size:small">j</span><span style="font-size:small"> - 1) (</span><span style="font-size:small">j</span><span style="font-size:small"> - 1)</span><span style="font-size:small">
</span><span style="font-size:small">    ) </span><span style="font-size:small"><span style="font-weight:bold">in</span></span><span style="font-size:small">
</span><span style="font-size:small">    </span><span style="font-size:small">table</span><span style="font-size:small">.(</span><span style="font-size:small">j</span><span style="font-size:small">) &lt;-</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small"><span style="font-weight:bold">if</span></span><span style="font-size:small"> </span><span style="font-size:small">s</span><span style="font-size:small"> &gt; 0 &amp;&amp; </span><span style="font-size:small">pattern</span><span style="font-size:small">.[</span><span style="font-size:small">s</span><span style="font-size:small">] = </span><span style="font-size:small">pattern</span><span style="font-size:small">.[</span><span style="font-size:small">j</span><span style="font-size:small">] </span><span style="font-size:small"><span style="font-weight:bold">then</span></span><span style="font-size:small"> </span><span style="font-size:small">table</span><span style="font-size:small">.(</span><span style="font-size:small">s</span><span style="font-size:small">)</span><span style="font-size:small">
</span><span style="font-size:small">      </span><span style="font-size:small"><span style="font-weight:bold">else</span></span><span style="font-size:small"> </span><span style="font-size:small">s</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small"><span style="font-weight:bold">done</span></span><span style="font-size:small">;</span><span style="font-size:small">
</span><span style="font-size:small">  </span><span style="font-size:small">table</span></div><p>As another exercise, the reader can translate the code back to imperative
style (and to Java, if desired).</p><!--TOC subsection id=sec7 Related work-->
<h3 id="sec7" class="subsection">Related work</h3><!--SEC END --><p><a href="http://alexandria.tue.nl/repository/books/253223.pdf">Chengdian</a> (1985)
and
<a href="http://www.sciencedirect.com/science/article/pii/0167642389900014">van
der Woude</a> (1989) derive an implementation of the Knuth-Morris-Pratt
algorithm from its specification, expressed as a pre/postcondition pair. In
other words, they construct, at the same time, the code and the proof of its
correctness in Hoare logic. Again, this establishes that the code is correct,
but does not (in my opinion) lead to a pedagogical explanation of the
algorithm.</p><p><a href="http://www.sciencedirect.com/science/article/pii/0167642389900361">Bird,
Gibbons, Jones</a> (1989) and
<a href="http://dx.doi.org/10.1145/1088348.1088359">Bird</a> (2005) use equational
reasoning to transform a specification of the algorithm (that is, a simple but
inefficient implementation) into an efficient one. Unfortunately, it is not
obvious to a casual reader that the final algorithm is the Knuth-Morris-Pratt
algorithm.</p><p><a href="http://www.brics.dk/RS/02/32/BRICS-RS-02-32.pdf">Ager, Danvy, and Rohde</a>
(2002) explain how, once the algorithm has been manually put under a suitable
form, the standard techniques of partial evaluation can be used to specialize
the code with respect to a fixed pattern. Thus, the partial evaluation phase
is the preprocessing phase. Their paper provided the inspiration for this
post. They also prove, in great detail, that the algorithm thus obtained is
exactly the Knuth-Morris-Pratt algorithm.</p>

<!--HTMLFOOT-->
<!--ENDHTML-->
<!--FOOTER-->
<hr style="height:2"/>
<blockquote class="quote"><em>This document was translated from L<sup>A</sup>T<sub>E</sub>X by
</em><a href="http://hevea.inria.fr/index.html"><em>H</em><em><span style="font-size:small"><sup>E</sup></span></em><em>V</em><em><span style="font-size:small"><sup>E</sup></span></em><em>A</em></a><em>. See also the <a href="kmp.pdf">PDF version (8 pages)</a></em></blockquote>
</post>
